@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}

@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumBarunGothic';
    color: #151515;
    font-size: 12px;
    line-height: 18px;
}

.circle {
    border-radius: 100px;
    will-change: transform;
    position: absolute;
}

.circle--1 {
    height: 50px;
    width: 50px;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    z-index: 2;
}

.circle--2 {
    background: black;
    height: 5px;
    width: 5px;
    z-index: 2;
    background: red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

.clear::after {
    display: block;
    content: '';
    clear: both;
}

/* *********************** 초기화 ******************* */

#wrap {
    min-width: 320px;
}

.gnb {
    display: none;
}

#cont1 {
    display: none;
}

.cols {
    display: none;
}

#scroll {
    display: none;
}

.wrapper .member {
    display: none;
}

#header {
    width: 100%;
}

#mainVisual {
    width: 100%;
    height: 600px;
    background: url(../img/mainVisual_ta.jpg) no-repeat center center / cover;
}

#mainVisual .mainVisualin {
    margin: 0 auto;
    position: relative;
}

.mainVisualin .logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mainVisualin .logo img {
    width: 80px;
}


.mainVisualin .util {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 300;
}

.mainVisualin .util li {
    display: none;
}

.fa-bars {
    font-size: 25px;
    padding-right: 5px;
}

.fa-magnifying-glass {
    font-size: 25px;
}

.fa-cart-shopping {
    font-size: 25px;
}

.mobile {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
}

.mobile .fa-x {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile .gnb_m {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile .gnb_m>li>a {
    padding-bottom: 20px;
    font-size: 35px;
    line-height: 1em;
    font-weight: bold;
    color: #fff;
}

.mobile .gnb_m>li .sub li {
    padding: 10px 3px;
    color: #f4f4f4;
}

.mobile .gnb_m>li .sub {
    transition: height 0.5s;
    height: 0;
    overflow: hidden;
}

.mobile .gnb_m li:hover .sub {
    height: 150px;
}

.mobile .gnb_m .sub li:hover {
    text-decoration: underline;
    color: #fff;
}

/* ***************mainVisual 끝 cont1_m 시작******************* */

#cont1_m {
    width: 100%;
    height: 100%;
    background-color: #172318;
}

#cont1_m .cont1_min {
    height: 600px;
    position: relative;
    width: 320px;
    margin: 0 auto;
}

#cont1_m .mimg img {
    position: absolute;
    left: 15px;
    top: 10%;
}

#cont1_m h2 {
    font-family: 'Recipekorea';
    color: #fff;
    position: absolute;
    bottom: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 30px;
}

#cont1_m .cont1_min dl {
    color: #fff;
    position: absolute;
    bottom: 8%;
    left: 15px;
}

#cont1_m .cont1_min dl dt {
    font-size: 17px;
    font-weight: bold;
}

#cont1_m .cont1_min dl dd {
    padding-top: 10px;
    width: 290px;
    line-height: 25px;
}

/* ******************cont1_m 끝 cont2 시작**************** */

#cont2 {
    width: 100%;
    height: 100%;
}

#cont2 .cont2in {
    width: 320px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.cont2in h2 {
    padding-top: 70px;
    text-align: center;
    font-family: 'Recipekorea';
}

.cont2in .box {
    width: 210px;
    height: 300px;
    background-color: #fff;
    border: 5px solid #172318;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 90px;
}

.cont2in .box img {
    width: 100%;
    height: auto;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.cover .cls {
    width: 100%;
    height: 100%;
}

.cover .on {
    width: 320px;
    height: 550px;
    background-color: #f4f4f4;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover .on img {
    width: 200px;
    margin: 15px;
}

.cover .on h4 {
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Recipekorea';
}

.cover .on p {
    margin-left: 15px;
    margin-bottom: 5px;
    width: 275px;
    line-height: 22px;
}

/* ************* cont2 끝 cont3 시작 ************ */

#cont3 {
    width: 100%;
    height: 100%;
    background-color: #172318;
}

#cont3 .cont3in {
    width: 320px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.cont3in h2 {
    font-family: 'Recipekorea';
    color: #fff;
    text-align: center;
    padding-top: 40px;
    display: block;
}

.number {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number select {
    width: 130px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding-left: 8px;
    outline: none;
}

.cont3in .box img {
    width: 320px;
    margin: 0 auto;
}

.cont3in .box {
    position: relative;
    top: 80px;
    width: 320px;
    height: 191px;
    margin-bottom: 50px;
}

.cont3in .box .bg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 1s;
}

.cont3in .box .txt {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 20px;
    opacity: 0;
    transition: all 1s;
}

.cont3in .box:hover .bg {
    opacity: 1;
}

.cont3in .box:hover .txt {
    opacity: 1;
}


/* ************ cont3 끝 cont4 시작 ********** */

#cont4 {
    width: 100%;
    height: 600px;
    background: url(../img/cont4_img.jpg) no-repeat center center / cover;
}


#cont4 .cont4in {
    width: 320px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}


.cont4in h2 {
    font-family: 'Recipekorea';
    color: #fff;
    text-align: center;
    padding-top: 30px;
    display: block;
}

.cont4in img {
    width: 220px;
    margin: 0 auto;
    padding-top: 30px;
}

.cont4in h3 {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
    font-family: 'Recipekorea';
}

.cont4in .n {
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.cont4in .first {
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 10px;
    width: 280px;
    margin-left: 20px;
}



.cont4in .txt {
    color: #fff;
    text-align: center;
}

.cont4in .txt strong {
    font-weight: bold;
    font-size: 17px;
}

.cont4in .pc {
    display: none;
}

.cont4in .btn {
    display: block;
    width: 80px;
    height: 35px;
    background-color: #fff;
    color: #151515;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
}

.cont4in .btn:hover {
    background-color: #172318;
    color: #fff;
}

/* *********cont4 끝 footer 시작*************** */
#footer {
    width: 100%;
    height: 80px;
    background-color: #f4f4f4;
}

#footer .footerin {
    width: 320px;
    margin: 0 auto;
}

.footerin .sns {
    font-size: 25px;
    padding-top: 15px;
    padding-left: 10px;
}

.footerin p {
    font-size: 11px;
    padding-left: 10px;
    padding-top: 10px;
}

/* ************ mobile 320px 끝 ********************* */
@media all and (min-width:640px) {
    #wrap {
        width: 100%;
        height: 100%;
    }

    #mainVisual {
        width: 100%;
        height: 800px;
    }

    #mainVisual .util {
        width: 100%;
        height: 30px;
        background-color: #172318;
        position: fixed;
        top: 0;
        left: 0;
        color: #fff;
    }

    .util_m {
        display: none;
    }

    .fa-cart-shopping {
        font-size: 20px;
        line-height: 30px;
    }

    .fa-magnifying-glass {
        font-size: 20px;
    }

    .fa-bars {
        font-size: 22px;
    }

    #mainVisual .logo {
        position: absolute;
        top: 50px;
    }

    #mainVisual .logo img {
        width: 90px;
    }

    #mainVisual .util {
        z-index: 1000;
    }

    #mainVisual .util li {
        display: block;
        position: absolute;
        right: 0;
        color: #fff;
        font-size: 15px;
        line-height: 30px;
        margin-right: 20px;
    }

    #mainVisual .util li:first-child {
        margin-right: 60px;
    }

    #cont1_m {
        display: none;
    }

    #cont1 {
        width: 100%;
        height: 800px;
    }

    #cont1 .cont1_top {
        width: 100%;
        height: 250px;
    }

    .cont1_top .topin {
        width: 640px;
        margin: 0 auto;
        position: relative;
    }

    .cont1_top .left {
        color: #002808;
        font-size: 17px;
        padding-top: 40px;
        font-weight: bold;
    }

    .cont1_top .txt {
        border-left: 1px solid #000;
        padding-left: 10px;
        font-size: 20px;
        line-height: 25px;
        position: absolute;
        left: 20%;
        top: 40px;
    }

    .cont1_top .right {
        position: absolute;
        right: 0;
        top: 40px;
        line-height: 26px;
        width: 300px;
        font-size: 14px;
    }

    #cont1 .cont1_bottom {
        width: 100%;
        height: 550px;
        background: url(../img/cont1_img.jpg) no-repeat center center / cover;
    }

    .cont1_bottom .cont1in {
        width: 640px;
        margin: 0 auto;
    }

    .cont1_bottom h2 {
        color: #fff;
        font-size: 27px;
        font-family: 'Recipekorea';
        padding-top: 100px;
    }

    .cont1_bottom h3 {
        color: #fff;
        font-family: 'Recipekorea';
        padding-top: 15px;
    }

    .cont1_bottom p {
        color: #fff;
        padding-top: 70px;
        line-height: 25px;
        width: 400px;
    }

    #cont2 {
        display: none;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }


    .cols {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 170px;
    }

    .col {
        width: calc(25% - 2rem);
        margin: 1rem;
        cursor: pointer;
    }

    .wrapper .container {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        height: 500px;
    }

    .front,
    .back {
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-position: center;
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
        min-height: 280px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
    }

    .back {
        background: #cedce7;
        background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    }

    .front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .6;
        background-color: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .container:hover .front,
    .container:hover .back {
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .inner {
        -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 1px solid transparent;
        -webkit-perspective: inherit;
        perspective: inherit;
        z-index: 2;
    }

    .container .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .container .front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .container:hover .back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .container:hover .front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .front .inner p {
        font-size: 20px;
        margin-bottom: 2rem;
        position: relative;
    }

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

    .front .inner span {
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Montserrat';
        font-weight: 300;
    }

    .back p {
        font-size: 13px;
        line-height: 22px;
    }

    .wrapper .member {
        font-size: 25px;
        text-align: center;
        color: #000;
        padding-top: 100px;
        font-family: 'Recipekorea';
        display: block;
    }

    #cont1 {
        display: block;
    }

    #cont3 h2 {
        color: #fff;
        display: block;
    }

    #cont3 {
        width: 100%;
        height: 800px;
    }

    #cont3 h2 {
        padding-top: 70px;
        font-size: 25px;
    }

    #cont3 .number {
        position: absolute;
        top: 130px;
    }

    .cont3in .box {
        width: 450px;
        height: 270px;
        position: relative;
        left: -20%;
        margin-bottom: 50px;
    }

    .cont3in .box img {
        width: 450px;
    }


    #cont4 {
        height: 800px;
    }

    .cont4in h2 {
        padding-top: 70px;
        font-size: 25px;
    }

    #cont4 .cont4in {
        width: 640px;

        margin: 0 auto;
        position: relative;
    }

    .cont4in img {
        width: 300px;
        text-align: right;
        padding-left: 339px;
        padding-top: 100px;
    }

    .cont4in h3 {
        font-size: 23px;
        position: absolute;
        top: 90px;
        margin-left: 20px;
    }

    .cont4in .n {
        position: absolute;
        top: 130px;
        margin-left: 20px;
    }

    .cont4in .txt {
        position: absolute;
        top: 170px;
        margin-left: 20px;
    }

    .cont4in .first {
        position: absolute;
        top: 270px;
        margin-left: 20px;
    }

    .cont4in .txt strong {
        font-size: 20px;
        line-height: 50px;
    }

    .cont4in .pc {
        display: block;
        position: absolute;
        top: 330px;
        margin-left: 30px;
        line-height: 25px;
        color: #fff;
        width: 280px
    }

    .cont4in .btn {
        margin-top: 60px;
        margin-left: 30px;
    }

    #footer {
        height: 100px;
    }

    .footerin .sns {
        font-size: 30px;
    }

    .footerin p {
        font-size: 15px;
        padding-top: 20px;
    }

    #footer .footerin {
        width: 640px;
        margin: 0 auto;
    }
}

@media all and (min-width:1024px) {


    #mainVisual {
        width: 100%;
        height: 1080px;
        background: url(../img/mainVisual.jpg) no-repeat center center / cover;
    }

    #mainVisual .util {
        position: fixed;
        top: 70px;
    }

    .pc {
        display: block;
    }

    #mainVisual .logo {
        position: absolute;
        top: 10px;
        z-index: 301;
    }

    #mainVisual .logo img {
        width: 100px;
    }

    #header {
        width: 100%;
        height: 70px;
        background: rgba(255, 255, 255, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
    }

    #header .headerin {
        width: 1024px;
        margin: 0 auto;
    }

    .headerin .pc .gnb {
        position: absolute;
        right: 35%;
        bottom: 15px;
        display: block;

    }

    .headerin .pc .gnb>li {
        margin-left: 100px;
        position: relative;
        float: left;
        font-size: 17px;
        color: #002808;
    }

    .headerin .pc .gnb>li>a::after {
        content: '';
        width: 1px;
        height: 0;
        background-color: #172318;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.4s;
        z-index: 10;
    }

    .headerin .pc .gnb>li>a:hover::after {
        height: 70px;
    }

    .headerin .pc .gnb>li>a:hover {
        color: #172318;
    }

    .headerin .pc .gnb>li .sub {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        background-color: #fff;
        padding: 30px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }

    .headerin .pc .gnb>li .sub li {
        line-height: 2em;
    }

    .headerin .pc .gnb>li>a:hover~.sub {
        opacity: 1;
    }

    #cont1 {
        height: 1080px;
    }

    #cont1 .cont1_top {
        height: 300px;
    }

    .cont1_top .topin {
        width: 1024px;
        margin: 0 auto;
        position: relative;
    }

    #cont1 .cont1_bottom {
        height: 780px;
        width: 100%;
        background: url(../img/cont1_img.jpg);
    }

    .cont1_bottom .cont1in {
        width: 1024px;
        margin: 0 auto;
    }

    .cont1_top .left {
        font-size: 22px;
    }

    .cont1_top .txt {
        font-size: 25px;
        line-height: 35px;
    }

    .cont1_top .right {
        width: 400px;
        font-size: 17px;
    }

    .cont1_bottom h2 {
        font-size: 35px;
        padding-top: 150px;
    }

    .cont1_bottom h3 {
        font-size: 20px;
        padding-top: 20px;
    }

    .cont1_bottom p {
        font-size: 17px;
        width: 500px;
    }

    .wrapper .container {
        height: 800px;
    }

    .wrapper .member {
        padding-top: 300px;
    }

    .cols {
        padding-top: 200px;
    }

    #cont3 {
        width: 100%;
        height: 1080px;
    }

    #cont3 .cont3in {
        width: 1024px;
        margin: 0 auto;
    }

    #cont3 .cont3in .box img {
        width: 600px;

    }

    .cont3in .box {
        position: relative;
        top: 100px;
        width: 600px;
        height: 360px;
        margin-bottom: 50px;
        left: 20%;
    }

    #cont4 {
        width: 100%;
        height: 1080px;
    }

    #cont4 .cont4in {
        width: 1024px;
        margin: 0 auto;

    }

    .cont4in h2 {
        padding-top: 200px;
    }

    .cont4in img {
        width: 400px;
        margin: 0 auto;
        padding-top: 100px;
    }

    .cont4in h3 {
        font-size: 25px;
    }

    .cont4in .txt {
        font-size: 15px;
    }

    .cont4in .n {
        font-size: 15px;
    }

    .cont4in .pc {
        font-size: 18px;
        width: 350px;
    }

    #footer {
        width: 100%;
        height: 100px;
    }

    #footer .footerin {
        width: 1024px;
        margin: 0 auto;
    }
}