@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumBarunGothic';
    color: #151515;
    font-size: 12px;
    line-height: 18px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

.clear::after {
    display: block;
    content: '';
    clear: both;
}

/* ************** 초기화 **************** */
#header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: 300;
}

#header .headerin {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

#header .headerin .logo {
    position: absolute;
    right: 0;
    top: 15px;
}

#header .headerin .logo img {
    width: 100px;
}

.headerin .gnb {
    position: absolute;
    left: 0;
    top: 30px;
}

.headerin .gnb>li {
    margin-left: 100px;
    position: relative;
    float: left;
    font-size: 17px;
    color: #002808;
}

.headerin .gnb>li>a::after {
    content: '';
    width: 1px;
    height: 0;
    background-color: #172318;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
    z-index: 10;
}

.headerin .gnb>li>a:hover::after {
    height: 70px;
}

.headerin .gnb>li>a:hover {
    color: #172318;
}

.headerin .gnb>li .sub {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #fff;
    padding: 30px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

.headerin .gnb>li .sub li {
    line-height: 2em;
}

.headerin .gnb>li>a:hover~.sub {
    opacity: 1;
}

#header .headerin .util {
    width: 100%;
    height: 30px;
    background-color: #172318;
    position: fixed;
    top: 80px;
    left: 0;
    color: #fff;
    font-size: 15px;
    z-index: 300;
}

#header .headerin .util li {
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 20px;
}

#header .headerin .util li:first-child {
    padding-right: 60px;
}

#container {
    width: 100%;
    height: 1080px;
}

#container .contin {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

#container .contin .slider {
    margin-top: 150px;
}

#container .contin .box img {
    margin-right: 19px;
    margin-top: 100px;
}

#container .contin .box img:nth-child(3) {
    margin-right: 0;
}

#container .contin .box img:nth-child(6) {
    margin-right: 0;
}

#container .contin .left {
    text-align: left;
    position: absolute;
    top: 70px;
    font-size: 15px;
}

#container .contin ul li {
    float: left;
    border-right: 1px solid #999;
    padding-right: 10px;
    margin-right: 10px;
}

#container .contin ul li:last-child {
    border-right: 0;
}

#container .contin ul {
    text-align: right;
    position: absolute;
    top: 70px;
    font-size: 15px;
    color: #999;
    right: 0;
}

#container .contin ul li:hover a {
    color: #151515;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #f4f4f4;
}

#footer .footerin {
    width: 1024px;
    margin: 0 auto;
}

.footerin .sns {
    font-size: 25px;
    padding-top: 10px;
}

.footerin p {
    color: #999;
    padding-top: 10px;
}