@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#wrap {
    min-width: 320px;
}

#header {
    width: 100%;
    height: 70px;
    position: relative;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.logo img {
    width: auto;
    height: 50px;
    margin-top: 13px;
}

.btn_H {
    position: absolute;
    top: 0;
    right: 0;
}

.btn_H img {
    width: auto;
    height: 45px;
    margin-top: 13px;
}

.search {
    text-align: center;
    line-height: 70px;
    margin-left: 30px;
}

.search #searchBox input {
    outline: none;
    color: #999;
    width: 200px;
    height: 35px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
}

.headerin {
    display: none;
}

.gnb_tablet {
    display: none;
}

/* ************************ */
.mobile {
    width: 300px;
    background-color: beige;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
}

.mobile .gnbM .depth1 h3 a {
    display: block;
    padding: 10px 15px;
    background-color: #555;
    color: #eee;
    font-weight: normal;
}

.mobile .gnbM .depth2>li {
    border-bottom: 1px solid #eee;
}

.mobile .gnbM .depth2 li a {
    display: block;
    padding: 10px 20px;
    color: #555;
}

.mobile .gnbM .depth2 li a:hover {
    color: #000;
    text-decoration: underline;
}

.mobile .gnbM .depth3 {
    border-top: 1px solid #ccc;
    padding-left: 20px;
}

.mobile .close {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #777;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.mobile .close:hover {
    color: #111;
    text-decoration: underline;
}

/* ********************mobile gnb 끝 ************* */
#mainVisual {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#mainVisual .simg img {
    width: 100%;
    height: 350px;
    opacity: 0.9;
}

#mainVisual .btnN {
    font-size: 0;
    background: url(../img/next_btn.png) no-repeat;
    position: absolute;
    top: 230px;
    right: 0;
    width: 50px;
    height: 30px;
    display: block;
}

#mainVisual .btnP {
    background: url(../img/prev_btn.png) no-repeat;
    font-size: 0;
    position: absolute;
    top: 230px;
    left: 20px;
    width: 50px;
    height: 30px;
    display: block;
}

#mainVisual .main_tit {
    width: 280px;
    position: absolute;
    top: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-family: 'GmarketSansMedium';
}

#mainVisual .main_tit h2 {
    font-size: 25px;
    font-weight: bold;
}

#mainVisual .main_tit h2 span {
    color: #fff;
}

#mainVisual .main_txt {
    background-color: #fff;
    width: 245px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
}

#mainVisual .main_txt p {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

/* ******************* */

.cont1 {
    display: none;
}

.cont1_tablet {
    width: 450px;
    height: 300px;
    margin: 20px auto;
}

.cont1_tablet h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'GmarketSansMedium';
}

.cont1_tablet ul li {
    width: 220px;
    height: auto;
    border: 1px solid #555;
    float: left;
    overflow: hidden;
}

.cont1_tablet ul li:first-child {
    border-right: 0;
}

.cont1_tablet ul li a {
    display: block;
    padding: 12px 0;
}

.cont1_tablet ul li .t_img img {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #555;
}

.cont1_tablet ul li .txt h3 {
    font-size: 14px;
    height: 36px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    font-family: 'GmarketSansMedium';
}

.cont1_tablet ul li .txt p {
    color: #000;
    text-align: center;
}

/* ************** cont1 끝 ************ */
.cont2 {
    width: 100%;
    height: auto;
    background: url(../img/Images\ By\ Francesca\ On\ Wallaper.jpg) no-repeat center center / cover;
}

.cont2 h2 {
    text-align: center;
    padding-top: 20px;
    font-family: 'GmarketSansMedium';
}


.cont2 .row {
    margin: 0 20px;
    height: 100%;
}

.cont2 .row>div {
    width: calc((100% - 20px) / 2);
    padding-bottom: 45%;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    background-color: #fff;
    border: 1px solid #555;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.cont2 .row>div:hover {
    border: 1px solid #000;
}

.cont2 .row>div:nth-child(even) {
    margin-right: 0;
}

.cont2 .row>div h3 {
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 30;
    font-family: 'GmarketSansMedium';
}

.cont2 .row>div .txt p {
    margin: 10px 0;
    font-family: 'GmarketSansMedium';
}

.cont2 .row>div .txt a {
    display: block;
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 1px solid#000;
    border-radius: 20px;
    line-height: 30px;
    margin: 0 auto;
}

.cont2 .row>div .txt a:hover {
    background-color: crimson;
    color: #fff;
}

.cont2 .row>div .basic {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.cont2 .row>div .basic img {
    width: 100%;
    height: auto;
}

.cont2 .row>div .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    font-size: 0;
    opacity: 0;
    transition: all 0.5s;
}

.cont2 .row>div:hover .bg {
    opacity: 1;
}

.cont2 .row>div .txt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #000;
    width: 100%;
}

/* ***************** cont2 끝 ************** */
.cont3 {
    display: none;
}

.cont4 {
    width: 100%;
}

.cont4 ul {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    position: relative;
}

.cont4 h2 {
    text-align: center;
    margin-top: 20px;
    font-family: 'GmarketSansMedium';
}

.cont4 ul li {
    float: left;
    width: 50%;
    margin-top: 20px;
}

.cont4 ul li:last-child {
    margin-right: 0;
}

.cont4 .cont4_img {
    overflow: hidden;
}

.cont4 .cont4_img img {
    width: 100%;
    transition: all 1s;
}

.cont4 .txt1 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'GmarketSansMedium';
}

.cont4 .cont4_box {
    text-align: center;
    margin-top: 10px;
}

.cont4 .cont4_box span {
    color: crimson;
}

.cont4 ul li .txt img {
    height: 15px;
}

.cont4 ul li:hover .cover_bg {
    opacity: 1;
}

.cont4 ul li:hover .txt {
    opacity: 1;
}

.cont4 ul li:last-child {
    display: none;
}

.cont4 .cont4_img img:hover {
    transform: scale(1.5);
}

/* **************** cont4 *************** */
.cont5 {
    display: none;
}

/* ********************** */
.story {
    width: 100%;
    height: 400px;
    position: relative;
}

.story .v {
    padding-top: 35px;
    margin: 0 auto;
}

.story .v iframe {
    height: 300px;
}

.story .v .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.story .v .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.story .v .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    border: 0;
    font-size: 0;
}

.story .v .slick-dots li.slick-active button {
    background-color: #000
}


#footer {
    width: 100%;
}

.fTop {
    margin-top: 20px;
    border-top: 1px solid #e1e4e8;
    border-bottom: 1px solid #e1e4e8;
}

.fTop .finner {
    position: relative;
}

.fTop .finner .fmenu {
    height: 24px;
    padding: 8px 0 4px 0;
}

.fTop .finner .fmenu li {
    float: left;
    margin-right: 12px;
}

.fTop .finner .fmenu li a {
    color: #555;
    font-size: 12px;
}

.fTop .finner .fmenu li:hover a {
    text-decoration: underline;
}

.fTop .finner .fmenu li:hover {
    font-weight: bold;
}

.fbottom .finner .finfo .fbottom_t {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fbottom .finner .finfo .address {
    font: 13px;
}

.fbottom .finner .fsns {
    margin-bottom: 10px;
}

.fbottom .finner .fsns li {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.fbottom .finner .fsns img {
    width: 30px;
    height: auto;
    opacity: 0.7;
}

.fbottom .finner .fsns img:hover {
    opacity: 10;
}

.fbottom_t strong {
    font-family: 'GmarketSansMedium';
}

#banner {
    display: none;
}

/* *********************tablet********************** */
@media all and (min-width:640px) {
    #mainVisual {
        position: relative;
        width: 640px;
        margin: 0 auto;
    }

    #mainVisual .simg img {
        width: 480px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 165px;
        transform: 0;
        padding-bottom: 0;
    }

    #mainVisual .main_tit {
        width: 500px;
        position: absolute;
        top: 130px;
        left: 82%;
        transform: 0;
        padding-bottom: 0;
    }

    #mainVisual .main_txt {
        position: absolute;
        top: 170px;
        left: 400px;
        transform: 0;
    }

    .btnN {
        opacity: 0;
    }

    .btnP {
        opacity: 0;
    }

    .gnb_tablet {
        display: block;
        width: 140px;
        height: 300px;
        background-color: #fff;
        border: 1px solid #000;
    }

    .gnb_tablet .menu1>li {
        width: 140px;
        margin-bottom: 6px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .gnb_tablet .menu1>li .m {
        font-size: 22px;
        color: #333;
        display: block;
        width: 100%;
        position: relative;
    }

    .gnb_tablet .menu1>li .m span {
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/icon.png) no-repeat 0 -81px;
        position: absolute;
        top: 4px;
        right: 0;
    }

    .gnb_tablet .menu1>li:hover .m span {
        background-position: 0 -53px;
    }

    .gnb_tablet .menu1>li .sub {
        transition: height 0.5s;
        height: 0;
        overflow: hidden;
    }

    .gnb_tablet .menu1>li .sub li {
        font-size: 12px;
        margin-top: 10px;
    }

    .gnb_tablet .menu1>li .sub li a {
        color: #999;
    }

    .gnb_tablet .menu1>li .sub li:hover a {
        color: #333;
        text-decoration: underline;
    }

    .gnb_tablet .menu1 li:hover .sub {
        height: 120px;
    }

    .cont1_tablet {
        display: none;
    }

    .cont1 {
        display: block;
        width: 640px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .cont1 h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'GmarketSansMedium';
    }

    .cont1 ul {
        width: 640px;
        height: 300px;
        border: 1px solid #000;
        margin: 0 auto;
    }

    .cont1 ul li {
        float: left;
    }

    .cont1 .cont1_box {
        background-color: #fbe4ec;
        width: 320px;
        height: 150px;
    }

    .cont1 .cont1_box .txt h3 {
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
        font-family: 'GmarketSansMedium';
    }

    .cont1 .cont1_box .txt p {
        text-align: center;
        padding-top: 15px;
    }

    .cont1 .txt .icon img {
        width: auto;
        height: 25px;
        text-align: center;
        padding-right: 5px;
    }

    .cont1 .cont1_img {
        width: 320px;
        height: 150px;
    }

    .cont1 .cont1_img img {
        width: 100%;
        height: 150px;
    }

    .cont2 {
        width: 640px;
        margin: 0 auto;
    }

    .cont3 {
        display: block;
        width: 100%;
        height: 200px;
    }

    .cont3 .cont3_img {
        width: 100%;
        height: 200px;
        background: url(../img/cont3_img.jpg) no-repeat center center / cover;
        position: relative;
    }

    .cont3 .cont3_icon img {
        width: 100px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50px);
        margin-left: -200px;
    }

    .cont3 .bg {
        width: 100%;
        height: 200px;
        background: rgba(0, 0, 0, 0.459);
        font-size: 0;
    }

    .cont3 .cont3_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        line-height: 30px;
        color: #fff;
        font-family: 'GmarketSansMedium';
    }

    .cont3 .cont3_txt span {
        color: crimson;
    }

    .cont4 {
        width: 100%;
        margin: 0 auto;
    }

    .cont4 h2 {
        margin-top: 20px;
    }

    .cont4 ul {
        width: 640px;
        height: 380px;
        margin: 0 auto;
        position: relative;
    }

    .cont4 ul li {
        width: 33.33%;
    }

    .cont4 ul li:last-child {
        display: block;
    }

    .cont5 {
        display: block;
    }

    .cont5 .cont5_img {
        background: url(../img/cont5_img.jpg) no-repeat center center / cover;
        width: 100%;
        height: 200px;
        position: relative;
    }

    .cont5 .bg {
        width: 100%;
        height: 200px;
        background-color: rgba(0, 0, 0, 0.548);
        font-size: 0;
    }

    .cont5 #searchBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cont5 #searchBox .submit {
        color: #fff;
    }

    #footer {
        height: 280px;
    }

    .fTop .fmenu {
        width: 640px;
        margin: 0 auto;
    }

    .fbottom {
        width: 640px;
        margin: 0 auto;
    }

    #banner {
        display: block;
        width: 100%;
        height: 65px;
        background-color: #fbe4ec;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 300;
    }

    #banner .bannerin {
        width: 640px;
        margin: 0 auto;
        position: relative;
    }

    #banner .bannerin .b1 {
        width: 200px;
        height: 60px;
        font-size: 15px;
        line-height: 65px;
        font-weight: bold;
    }

    #banner .bannerin .b2 {
        position: absolute;
        top: 50%;
        right: 310px;
        transform: translateY(-50%);
        color: #000;
        font-size: 15px;
    }

    #banner .bannerin .b3 {
        width: 180px;
        height: 30px;
        border: 1px solid;
        line-height: 30px;
        position: absolute;
        top: 50%;
        right: 110px;
        transform: translateY(-50%);
        font-size: 25px;
        font-weight: bold;
        color: crimson;
        text-align: center;
    }

    #banner .bannerin .b4 img {
        width: 100px;
        height: auto;
        position: absolute;
        right: 0;
        top: -115%;
    }

    .cont5 #searchBox input {
        width: 300px;
        height: 35px;
        border: 1px solid #000;
        border-radius: 5px;
        padding-left: 10px;
        color: #999;
    }
}

@media all and (min-width:1024px) {
    .gnb_tablet {
        display: none;
    }

    #mainVisual {
        width: 100%;
        height: 400px;
        background: url(../img/mainvisual.jpg) no-repeat center center / cover;
        position: relative;
    }

    #mainVisual .simg img {
        display: none;
    }

    #mainVisual .main_tit {
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
    }

    #mainVisual .main_tit h2 {
        font-size: 44px;
    }

    #mainVisual .main_txt {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 430px;
    }

    #mainVisual .main_txt p {
        font-size: 14px;
    }

    .btnN {
        opacity: 1;
    }

    .btnP {
        opacity: 1;
    }

    #container {
        width: 100%;
    }

    #containerin {
        width: 1024px;
    }

    .cont1 {
        width: 100%;
    }

    .cont1 ul {
        width: 1024px;
        height: 400px;
        margin: 0 auto;
    }

    .cont1 .cont1_box {
        width: 512px;
        height: 200px;
    }

    .cont1 .cont1_img {
        width: 512px;
        height: 200px;
    }

    .cont1 .cont1_img img {
        width: 100%;
        height: 200px;
    }

    .cont1 .cont1_box .txt h3 {
        font-size: 23px;
        padding-top: 50px;
    }

    .cont1 .cont1_box .txt p {
        font-size: 17px;
    }

    .cont2 {
        width: 1024px;
        margin: 0 auto;
    }

    .cont4 {
        width: 100%;
        height: 500px;
    }

    .cont4 ul {
        width: 1024px;
        margin: 0 auto;
    }

    .cont4 ul li:last-child {
        margin-right: 0;
    }

    #footer {
        width: 100%;
    }

    .fTop .fmenu {
        width: 1024px;
        margin: 0 auto;
    }

    .fbottom {
        width: 1024px;
        margin: 0 auto;
    }

    .search {
        display: none;
    }

    .headerin {
        width: 1024px;
        margin: 0 auto;
        position: relative;
        display: block;
    }

    .mainM {
        position: relative;
    }

    .mainM .gnb {
        position: absolute;
        top: 25px;
        left: 50%;
        margin-left: -253px;
    }

    .mainM .gnb>li {
        float: left;
        position: relative;
        font-family: 'GmarketSansMedium';
    }

    .mainM .gnb>li>a {
        font-size: 18px;
        color: #000;
        padding: 0 30px;
    }

    .mainM .gnb li:hover a {
        color: crimson;
    }

    .mainM .gnb li .sub {
        padding-top: 42px;
        width: 100%;
        position: absolute;
        top: 18px;
        left: 28px;
        z-index: 500;
        display: none;
    }

    .mainM .gnb:hover li .sub {
        display: block;
    }

    .mainM .gnb li .sub li a {
        color: #888;
        font-size: 13px;
    }

    .mainM .gnb li .sub li:hover a {
        border-bottom: 1px solid #888;
    }

    .mainM .subBG {
        width: 100%;
        height: 0;
        background: #fff;
        font-size: 0;
        transition: all 0.5s;
        position: relative;
        top: 70px;
        z-index: 400;
    }

    .mainM .gnb:hover~.subBG {
        height: 200px;
    }

    .gnb li span {
        display: block;
        width: 0;
        height: 3px;
        background-color: crimson;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s;
        margin-top: 3px;
    }

    .gnb li:hover span {
        width: 70px;
    }

    #banner .bannerin {
        width: 1024px;
        margin: 0 auto;
    }

    .story {
        height: 500px;
    }

    .storyin {
        width: 1024px;
        margin: 0 auto;
    }

    .story .v iframe {
        height: 400px;
    }
}